# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
ultralytics
pytorch >= 1.12
torchvision >= 0.13
tensorboard >= 2.0
jupyter >= 1.0
matplotlib >= 3.3
tqdm >= 4.55
ipywidgets
albumentations
py-opencv=4.8.1
opencv=4.8.1
libopencv=4.8.1